@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  font-family: "Lato";
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.main-header {
  position: fixed;
  top: 10px;
  left: 10px;
}
#loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  color: #ffffff;
  font-size: 60px;
  background-color: rgba(0,0,0,.8);
  text-align: center;
  display: none;
}
#loading i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#loading.show {
  display: block;
}
.control {
  position: fixed;
  top: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
  transition: .5s ease;
}
.control-head {
  font-size: 20px;
  padding: 10px;
  background-color: #03a9f4;
  color: #ffffff;
  text-align: center;
}
.control.region {
  top: 100px;
  left: -300px;
  width: 300px;
}
.control.region.show {
  left: 0;
}
.control .control-toggle {
  position: absolute;
  right: -194px;
  top: 0;
  padding: 10px;
  background-color: #E91E63;
  font-size: 20px;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
.control ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 13px;
}
.control ul.parent-list {
  max-height: 300px;
  overflow-x: hidden;
}
.control ul li {
  padding: 10px 20px;
}
.control ul li:not(:last-child) {
  border-bottom: 1px solid #ecf0f1;
}
.control ul li a {
  color: #03a9f4;
  text-decoration: none;
}
.control ul li a:hover {
  text-decoration: underline;
}

.style-options {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: inline-block;
}
.style-options ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.style-options ul li {
  background-color: #ffffff;
  padding: 10px 20px;
  display: inline-block;
  color: #000000;
  cursor: pointer;
}
.style-options ul li.active {
  background-color: #03a9f4;
  color: #ffffff;
}
